.Atozsites-file_input-wrapper > .Atozsites-input {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
.Atozsites-file_input.Atozsites-file_input {
	line-height: 18px;
	margin: 0 5px 0 0;
	padding: 4px;
	width: 300px;
}
@media (max-width: 767px) {
	.Atozsites-file_input.Atozsites-file_input,
	.Atozsites-file-input-select {
		margin-bottom: 5px;
	}
}